@keyframes blink {

  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-10vh);
  }

  to {
    transform: translateY(-30);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}

* {
  cursor: none !important;
}

.loading-name{
  animation: slideDown 2s ease-out forwards;
}